/* Arreglo sombras texto botones */
.btn {
  text-shadow: none;
}

/* Lista vídeo home */

.videoListItem a {
  text-decoration: none;
}

.videoListItem h3, .videoListItem h5 {
  font-weight: bold;
}

.videoListItem p {
  max-height: 4.25em;
  overflow: hidden;
}

.videoListItem:not(:last-child){
  border-bottom: 1px solid #AAA;
}

.videoListItem .videoThumbs{
  margin: 20px auto;
  background-color: grey;
  background-size: cover;
  background-position-x: 675px;
  width: 225px;
  height: calc(225px * 9 / 16);
}

.row.paginacion {
  padding: 20px 0;
}

/* FIN Lista vídeo home */

/* Reproductor */

#player {
  box-sizing: content-box;
}

/* Relleno de espacio para el reproductor */
video#player {
  background-color: black;
}

/* Modo normal */
.normalVideo video#player {
  height: 360px;
  width: 640px;
}

/* Modo cine (width: 100%) */
.wideVideo video#player {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 720px !important;
  margin: 0 auto;
}

@media(max-height: 770px){
  .wideVideo video#player {
    max-height: 90vh !important;
  }
}

.video-container .row h3,
.video-container .row h5,
.video-container-2 .row h3,
.video-container-2 .row h5 {
  font-weight: bold;
}

.video-container .userAvatar,
.video-container-2 .userAvatar {
  max-width: 80px;
  max-height: 80px;
}

.video-container a.userLink,
.video-container-2 a.userLink {
  text-decoration: none;
}

.container-fluid.video-container,
.container-fluid.video-container .row .player-col{
  padding: 0;
}

.container-fluid.video-container .row{
  margin: 0;
}

.alertVideoWrapper {
  padding-top: 20px;
}

.alertVideo h3 {
  margin: 20px 0;
}

/* Si el vídeo en modo normal no cabe */
@media (max-width: 767px){
/* Se oculta el botón de modo cine (no tendría sentido) */
  #wSelector {
    display: none;
  }
}

@media (max-width: 991px) {
  .player-col {
    padding: 0;
  }

  /* Se adapta el vídeo al ancho de la ventana */
  .normalVideo video#player {
    height: initial;
    width: 100%;
  }
}

.info-col p.collapsed {
  max-height: 4.25em;
  overflow: hidden;
}

@media (min-width: 992px){
  .info-col.info-narrow {
    max-height: 360px;
    overflow: auto;
  }
}

.videoPlayerExtra {
  padding: 0;
}

.videoPlayerExtra button {
  margin-bottom: 8px;
}

/* FIN Reproductor */

/* Formulario registro */

.registerTitle small {
  font-size: 14px;
}

img.tmpAvatar{
  margin: auto;
  max-height: 256px;
  max-width: 512px;
  max-width: 100%;
}

.imgBlock .form-group > .input-group,
.imgBlock .form-group > .alert,
.imgBlock .form-group > .btn,
.imgBlock .form-group > .imgProcessing,
.imgBlock .form-group > .tmpAvatar{
  margin-bottom: 1em;
}

/* Animación de carga de procesamiento de imagen */
.imgProcessing {
  width: auto;
  margin: auto;
  display: table;
}

.imgProcessing .fa{
  animation: spinWaiting 1.5s infinite linear;
  margin: auto;
}

@keyframes spinWaiting {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* FIN Formulario registro */

/* Formulario subida vídeo */

#progresoSubida {
  height: auto;
}

.videoSelectorMobile .btn {
  border-bottom-left-radius: 0;
}

.videoSelectorMobile #tmpFileName{
  border-bottom-right-radius: 0;
}

.submitVideoMobile {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.publicToggle, .publicToggle .row .col-xs-12 {
  padding: 0;
}

.publicToggle .row {
  margin: 0;
}

/* FIN Formulario subida vídeo */

/* Página perfil usuario */

.userPage .leftUser h3{
  font-weight: bold;
}

.userPage .leftUser h4{
  font-style: italic;
}

.userPage .leftUser .bio p.collapsed {
  max-height: 6em;
  overflow: hidden;
}

.userPage .rightUser {
  overflow: auto;
}

@media (min-width: 768px){
  .userPage .leftUser{
    margin-top: 20px;
  }
}

/* FIN Página perfil usuario */

/* Página 404 */

.page404 .img404 {
  max-width: 400px;
  margin: auto;
}

/* FIN Página 404 */