/* Arreglo sombras texto botones */
.btn {
  text-shadow: none;
}

/* Reproductor */

#player {
  box-sizing: content-box;
}

/* Modo normal */
.normalVideo video {
  height: 360px;
}

/* Modo cine (width: 100%) */
.wideVideo {
  background-color: #222;
}

.wideVideo video {
  display: block;
  width: 100%;
  max-width: 1280px !important;
  max-height: 720px !important;
  margin: 0 auto;
}

/* Si el vídeo en modo normal no cabe */
@media (max-width: 640px) {
  /* Se oculta el botón de modo cine (no tendría sentido) */
  #wSelector {
    display: none;
  }

  /* Se adapta el vídeo al ancho de la ventana */
  .normalVideo video {
    height: initial;
    width: 100%;
  }
}

/* FIN Reproductor */

/* Formulario registro */

img.tmpAvatar{
  margin: auto;
  max-height: 256px;
  max-width: 512px;
}

.imgBlock .form-group > .input-group,
.imgBlock .form-group > .alert,
.imgBlock .form-group > .btn,
.imgBlock .form-group > .imgProcessing,
.imgBlock .form-group > .tmpAvatar{
  margin-bottom: 1em;
}

/* Animación de carga de procesamiento de imagen */
.imgProcessing {
  width: auto;
  margin: auto;
  display: table;
}

.imgProcessing .fa{
  animation: spinWaiting 1.5s infinite linear;
  margin: auto;
}

@keyframes spinWaiting {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* FIN Formulario registro */