php_value session.gc_maxlifetime 604800
php_value session.cookie_lifetime 604800

Options -Multiviews -Indexes +FollowSymLinks
RewriteEngine On
RewriteBase /
DirectorySlash Off
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]
RewriteRule ^([\w\/-]+)(\?.*)?$ $1/index.php$2 [L,T=application/x-httpd-php]
RewriteRule ^u/([^/]+)/index.php user?user=$1
RewriteRule ^u/([^/]+)(/([^/]+))/index.php user?user=$1&pag=$3

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 404 /oops